<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link
      rel="shortcut icon"
      type="image/png"
      href="./images/omni_o_com-cor.png"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"
    />
    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="./css/custom.css" />
    <title>Omnitracker - Sobre</title>
  </head>

  <body>
    <nav>
      <div class="nav-wrapper grey lighten-5">
        <a href="home" class="brand-logo"
          ><img class="nav-image" src="images/omni_sem_fundo.png"
        /></a>
        <a
          href="#"
          data-target="mobile-demo"
          class="sidenav-trigger"
          style="color: #473FFE;"
          ><i class="material-icons">menu</i></a
        >
        <ul id="nav-mobile" class="right hide-on-med-and-down">
          <li><a class="nav-text" href="home">Home</a></li>
          <li><a class="nav-text" href="about-us">Sobre nós</a></li>
          <li><a class="nav-text" href="bots">Bots</a></li>
          <li><a class="nav-text" href="contact">Contato</a></li>
        </ul>
      </div>
    </nav>
    <ul class="sidenav mobile-nav" id="mobile-demo">
      <li><a class="nav-text" href="home">Home</a></li>
      <li><a class="nav-text" href="about-us">Sobre nós</a></li>
      <li><a class="nav-text" href="bots">Bots</a></li>
      <li><a class="nav-text" href="contact">Contato</a></li>
    </ul>
    <h2 style="color: black" class="center-align">Sobre nós</h2>
    <div class="center-align">
      <img
        class="about-us-image"
        src="images/159497-conheca-os-beneficios-do-uso-do-big-data-em-logistica-1000x640.jpg"
      />
    </div>
    <h5 class="about-us-text">
      Uma empresa com conhecimento técnico, logístico e empresarial. <br />Nós
      possuímos um time de engenheiros(de computação, de produção, de software e
      automação). <br />Também possuímos um vasto conhecimento da área
      logística. Uma prova disso é que desenvolvemos nossos produtos à quatro
      mãos dentro de um terminal lojístico.
    </h5>

    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script>
      $(document).ready(function() {
        $(".sidenav").sidenav();
      });
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
  </body>
</html>
