<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="shortcut icon"
      type="image/png"
      href="./images/omni_o_com-cor.png"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"
    />
    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="css/custom.css" />
    <title>Omnitracker - Contato</title>
  </head>

  <body>
    <nav>
      <div class="nav-wrapper grey lighten-5">
        <a href="home" class="brand-logo"
          ><img class="nav-image" src="images/omni_sem_fundo.png"
        /></a>
        <a
          href="home"
          data-target="mobile-demo"
          class="sidenav-trigger"
          style="color: #473FFE;"
          ><i class="material-icons">menu</i></a
        >
        <ul id="nav-mobile" class="right hide-on-med-and-down">
          <li><a class="nav-text" href="home">Home</a></li>
          <li><a class="nav-text" href="about-us">Sobre nós</a></li>
          <li><a class="nav-text" href="bots">Bots</a></li>
          <li><a class="nav-text" href="contact">Contato</a></li>
        </ul>
      </div>
    </nav>
    <ul class="sidenav mobile-nav" id="mobile-demo">
      <li><a class="nav-text" href="home">Home</a></li>
      <li><a class="nav-text" href="about-us">Sobre nós</a></li>
      <li><a class="nav-text" href="bots">Bots</a></li>
      <li><a class="nav-text" href="contact">Contato</a></li>
    </ul>
    <h2 style="color: black" class="center-align">Contato</h2>

    <div class="container ">
      <div class="row  contact-form-position">
        <form
          action="/send-email"
          method="POST"
          id="contact-form"
          class="col s12"
        >
          <div class="row">
            <div class="input-field col s12 m8 l8">
              <i class="material-icons prefix">account_circle</i>
              <input id="name" name="name" type="text" class="validate" />
              <label for="name">Nome completo</label>
            </div>
          </div>
          <div class="row">
            <div class="input-field col s12 m8 l8">
              <i class="material-icons prefix">email</i>
              <input id="email" type="email" class="validate" name="email" />
              <label for="email">Email</label>
              <span
                class="helper-text"
                data-error="Email inválido"
                data-success="OK"
              ></span>
            </div>
          </div>
          <div class="row">
            <div class="input-field col s12 m8 l8">
              <i class="material-icons prefix">edit</i>
              <textarea
                type="text"
                id="body"
                name="body"
                class="materialize-textarea validate"
              ></textarea>
              <label for="body">Conteúdo da mensagem</label>
            </div>
          </div>
          <button
            class="btn waves-effect waves-light contact-button-form"
            type="submit"
            name="action"
          >
            Enviar
            <i class="material-icons right">send</i>
          </button>
        </form>
      </div>
      <h5 class="contact-text">
        Ou venha nos fazer uma visita: Av. Plínio Kroeff 1715.
      </h5>
    </div>

    <% if ( !sucesso ) { %>
    <div id="modal1" class="modal indigo lighten-1">
      <div class="modal-content ">
        <h4>Mensagem enviada com sucesso!</h4>
        <p>Recebemos sua mensagem, logo entraremos em contato!</p>
        <img src="./images/Happy-Transparent-PNG.png" />
      </div>
      <div class="modal-footer indigo lighten-1">
        <a href="#!" class="modal-close waves-effect waves-green btn-flat"
          >SAIR</a
        >
      </div>
    </div>
    <% } %>

    <!-- Modal Structure -->

    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script>
      $(document).ready(function() {
        $(".sidenav").sidenav();
        $("#modal1").modal();
        $("#modal1").modal("open");
      });

      //   $(document).ready(function() {
      //     return $("#contact-form").submit(function(e) {
      //       var email, message, name;
      //       name = document.getElementById("first_name");
      //       email = document.getElementById("email");
      //       message = document.getElementById("textarea1");
      //       if (!name.value || !email.value || !message.value) {
      //         console.error("Please check your entries");
      //         return false;
      //       } else {
      //         $.ajax({
      //           method: "POST",
      //           url: `https://formspree.io/gabriel.aragao2008@hotmail.com`,
      //           data: $("#contact-form").serialize(),
      //           datatype: "json"
      //         });

      //         e.preventDefault();
      //         $(this)
      //           .get(0)
      //           .reset();

      //         return console.info("Message sent");
      //       }
      //     });
      //   });
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
  </body>
</html>
