.nav-text {
  color: black;
}

.nav-text:hover {
  color: #473ffe;
}

.nav-container:hover {
  color: red;
}

.nav-image {
  width: 3.5em;
  height: 1.2em;
  margin-left: 1em;
  margin-top: 0.4em;
}

.main-text {
  font-weight: 800;
  font-size: 4em;
  margin-top: 0;
  margin-bottom: 0;
  padding-right: 5em;
}

.main-image-position {
  margin-right: 8em;
}

.main-image {
  width: 12em;
  height: 10em;
  margin-top: 2em;
  float: right;
}

.custom-container {
  padding-top: 5em;
  padding-bottom: 2%;
  color: white;
}

@media only screen and (min-width: 769px) {
  .about-us img {
    margin-top: 2em;
    float: left;
    border-radius: 15%;
    border: 2px solid grey;
    width: 21em;
    height: 22em;
    margin-right: 5em;
    margin-left: 5em;
  }

  .about-us h5 {
    padding-top: 2em;
    margin-right: 3em;
    color: black;
    font-size: 1.4em;
    font-family: "roboto";
  }
  .bots-image {
    margin-top: 2em;
    float: left;
    border-radius: 5%;
    width: 20em;
    height: 20em;
    margin-right: 1em;
    margin-left: 5em;
  }

  .bots-image2 {
    margin-top: 2em;
    float: left;
    border-radius: 5%;
    width: 20em;
    height: 20em;
    margin-right: 1em;
    margin-left: 2em;
  }

  .bots-image-info {
    float: right;
    border-radius: 5%;
    width: 20em;
    height: 20em;
    margin-right: 10em;
    margin-left: 2em;
    margin-bottom: 2em;
  }

  .bots-text {
    margin-bottom: 8em;
    padding-top: 2em;
    margin-right: 3em;
    margin-left: 3em;
    color: black;
    font-size: 1.3em;
    font-family: "roboto";
  }

  .bots-main-text {
    position: relative;
    top: -1em;
    font-weight: 400;
    margin-left: 5%;
    font-size: 3em;
    color: black;
  }

  .bots-info {
    margin-top: 4.8em;
    font-weight: 200;
    padding-left: 3em;
    padding-right: 3.5em;
    font-size: 1em;
    color: black;
  }

  .bots-info1 {
    margin-top: 4.8em;
    font-weight: 200;
    padding-left: 3em;
    padding-right: 3.5em;
    font-size: 1em;
    color: black;
  }

  .bots-info2 {
    font-weight: 200;
    margin-top: 2em;
    padding-left: 3em;
    padding-right: 3.5em;
    font-size: 1em;
    color: black;
  }

  .bots-button {
    font-weight: 200;
    font-size: 1em;
    color: black;
  }

  .bots-custom-container-main-text {
    padding-top: 5%;
    padding-bottom: 2%;
    padding-right: 15em;
    padding-left: 15em;
  }

  .bots-image-info {
    width: 20em;
    height: 20em;
    margin-left: 3em;
    margin-bottom: 2em;
  }

  .contact-image {
    margin-top: 2em;
    float: left;
    border-radius: 15%;
    width: 15em;
    height: 17em;
    margin-right: 8em;
    margin-left: 5em;
  }

  .contact-text {
    padding-top: 1em;
    margin-left: 22%;
    color: black;
    font-size: 1.4em;
  }

  .contact-text2 {
    float: right;
    margin-top: 3em;
    margin-right: 18em;
    color: black;
    font-size: 1.4em;
  }

  .contact-form-position {
    margin-left: 14em;
  }
  .contact-button-form {
    margin-left: 30%;
    background-color: #473ffe;
  }

  .modal-content img {
    margin-top: 3em;
    margin-left: 15em;
    width: 12em;
    height: 12em;
  }
}

@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  .main-image-position {
    top: 0;
    margin-bottom: 2em;
    margin-left: 3em;
    width: 15em;
    height: 12em;
  }
  .main-text {
    font-weight: 800;
    font-size: 4em;
    margin-top: 0;
    margin-bottom: 0;
    padding-right: 3em;
  }
  .custom-container {
    padding-top: 1em;
    padding-bottom: 2%;
    color: white;
  }

  .custom-about {
    border: 1px solid red;
  }

  .about-us img {
    float: left;
    margin-right: 1em;
    margin-left: 1em;
    margin-top: 2em;
    border-radius: 15%;
    border: 2px solid grey;
    width: 10em;
    height: 10em;
  }

  .about-us h5 {
    margin-left: 1em;
    margin-right: 0.2em;

    padding-top: 1.6em;
    color: black;
    font-size: 1.4em;
    font-family: "roboto";
  }

  .bots-text {
    color: black;
    font-size: 1em;
    font-family: "roboto";
    margin-left: 0.6em;
    margin-bottom: 5em;
  }

  .bots-info-text {
    margin-bottom: 10px;
    padding-top: 1px;
    padding-left: 3px;
    color: black;
  }
  .bots-button {
    font-weight: 200;
    font-size: 1em;
    color: black;
    margin-left: 5em;
  }
  .bots-main-text {
    font-weight: 400;
    font-size: 2em;
    color: black;
    margin-left: 0.3em;
  }
  .bots-info {
    margin-top: 4.8em;
    font-weight: 200;
    padding-left: 5%;
    padding-right: 3%;
    font-size: 1em;
    color: black;
  }

  .bots-info1 {
    margin-top: 4.8em;
    font-weight: 200;
    padding-left: 3em;
    padding-right: 3.5em;
    font-size: 1em;
    color: black;
  }

  .bots-info2 {
    font-weight: 200;
    margin-top: 2em;
    padding-left: 3em;
    padding-right: 3.5em;
    font-size: 1em;
    color: black;
  }

  .bots-image-info {
    width: 20em;
    height: 20em;
    margin-left: 3em;
    margin-bottom: 2em;
  }

  .bots-custom-container-main-text {
    padding-top: 5%;
    padding-bottom: 2%;
    padding-right: 2em;
    padding-left: 2em;
  }

  .contact-image {
    margin-top: 2em;
    width: 10em;
    height: 10em;
  }

  .contact-text {
    color: black;
    font-size: 1.4em;
    margin-left: 2%;
  }

  .contact-text2 {
    float: right;
    padding-left: 2em;
    padding-right: 2em;
    margin-top: 3em;
    color: black;
    font-size: 1.4em;
  }

  .contact-button-form {
    margin-left: 30%;
    background-color: #473ffe;
  }

  .modal-content img {
    width: 40%;
    height: 40%;
    margin-left: 20%;
  }
}

.app-main-text {
  position: relative;
  top: -1em;
  font-weight: 400;
  margin-left: 5%;
  font-size: 3em;
  color: white;
}

.app-info {
  margin-top: 20px;
  font-weight: 200;
  margin-left: 5%;
  padding-left: 1%;
  font-size: 1em;
  color: white;
}

.app-info1 {
  margin-top: 4em;
  font-weight: 200;
  margin-left: 5%;
  padding-left: 1%;
  font-size: 1em;
  color: white;
}

.app-text {
  position: absolute;
  margin-bottom: 10px;
  padding-top: 1px;
  padding-left: 3px;
}

.app-button {
  font-weight: 200;
  padding-left: 1%;
  margin-top: 1%;
  font-size: 1em;
  color: white;
}

.app-image {
  width: 20em;
  height: 21.2em;
  float: right;
  margin-right: 5em;
}

.app-custom-container {
  padding-top: 10%;
  padding-bottom: 2%;
}

.bots-custom-container {
  padding-top: 5%;
  padding-bottom: 2%;
}

.bots-custom-break {
  background-color: #473ffe;
  border: 1.2em solid #473ffe;
  border-radius: 30% 0% 30% 0%;
  width: 90%;
  margin-left: 5%;
}

.bots-color-button {
  background-color: #473ffe;
}

.what-do-text {
  font-weight: 200;
}

.mobile-nav {
  width: 70%;
}

/* label color */
.input-field label {
  color: grey;
}
/* label focus color */
.input-field input[type="text"][id="name"]:focus + label {
  color: #473ffe;
}
/* label underline focus color */
.input-field input[type="text"][id="name"]:focus {
  border-bottom: 1px solid #473ffe;
  box-shadow: 0 1px 0 0 #473ffe;
  color: #473ffe;
}

.input-field input[type="text"][id="name"].valid {
  border-bottom: 1px solid #473ffe;
  box-shadow: 0 1px 0 0 #473ffe;
  color: #473ffe;
}

.input-field input[type="email"][id="email"]:focus + label {
  color: #473ffe;
}
/* label underline focus color */
.input-field input[type="email"][id="email"]:focus {
  border-bottom: 1px solid #473ffe;
  box-shadow: 0 1px 0 0 #473ffe;
  color: #473ffe;
}

/* label focus color */
.input-field textarea[type="text"][id="body"]:focus + label {
  color: #473ffe;
}
/* label underline focus color */
.input-field textarea[type="text"][id="body"]:focus {
  border-bottom: 1px solid #473ffe;
  box-shadow: 0 1px 0 0 #473ffe;
  color: #473ffe;
}

.input-field textarea[type="text"][id="body"].valid {
  border-bottom: 1px solid #473ffe;
  box-shadow: 0 1px 0 0 #473ffe;
  color: #473ffe;
}

/* valid color */
.input-field input[type="email"][id="email"].valid {
  border-bottom: 1px solid #473ffe;
  box-shadow: 0 1px 0 0 #473ffe;
  color: #473ffe;
}

/* invalid color */
.input-field input[type="email"][id="email"].invalid {
  border-bottom: 1px solid red;
  box-shadow: 0 1px 0 0 red;
  color: red;
}
/* icon prefix focus color */
.input-field .prefix.active {
  color: #473ffe;
}
